@model IEnumerable<CommunitySpaceShip.Models.ApplicationUser>

@{
    ViewBag.Title = "Users Admin";
}


<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white font-weight-bold">@ViewBag.Title</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-10 align-self-start">
                <p>
                    @Html.ActionLink("Create New User", "Create", routeValues: null, htmlAttributes: new { @class = "myLink" })
                </p>
                <table class="table text-white">
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "myLink" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "myLink" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</header>
