@model IEnumerable<CommunitySpaceShipData.Neighbor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpaceShipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpaceShipID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.TeamID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NeighborID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NeighborID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NeighborID })
        </td>
    </tr>
}

</table>
