@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu myDropdown" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Manage Roles", "Index", "RolesAdmin", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
                @Html.ActionLink("Manage Users", "Index", "UsersAdmin", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Manage Neighbors", "Index", "Neighbors", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
                @Html.ActionLink("Manage Regions", "Index", "Regions", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
                @Html.ActionLink("Manage Parks", "Index", "Parks", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
                @Html.ActionLink("Manage Shareables", "Index", "Shareables", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
                @Html.ActionLink("Manage Categories", "Index", "Categories", routeValues: null, htmlAttributes: new { @class = "nav-link myDropdownLink" })
            </div>
        </li>
    </ul>
}
